@page "/teacher"
@rendermode InteractiveServer
@inject IUrlService UrlService
@inject IQrCodeService QrCodeService
@inject IClassContextService ClassContextService
@inject NavigationManager Navigation

<PageTitle>My Class</PageTitle>

<RoleGate RequireTeacher="true" DeniedMessage="Only teachers can use the teacher landing page.">
    <MudStack Spacing="3">
        <div>
            <MudText Typo="Typo.h4">Teacher</MudText>
            <MudText Typo="Typo.subtitle1" Color="Color.Secondary">@CurrentClass.ClassName</MudText>
        </div>

        @if (_studentEntryUrlResult is null)
        {
            <LoadingIndicator Text="Preparing student connection..." />
        }
        else if (!_studentEntryUrlResult.Succeeded)
        {
            <MudAlert Severity="Severity.Error" Variant="Variant.Filled">
                @_studentEntryUrlResult.Message
            </MudAlert>
        }
        else
        {
            <MudGrid Spacing="3">
                <MudItem xs="12" md="6">
                    <MudPaper Elevation="1" Class="pa-4 teacher-landing-panel">
                        <MudStack Spacing="2">
                            <MudText Typo="Typo.h6">Please enter this URL in your browser address bar:</MudText>
                            <MudText Typo="Typo.h5" Class="teacher-student-url">@_studentEntryUrlResult.Value</MudText>
                        </MudStack>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudPaper Elevation="1" Class="pa-4 teacher-landing-panel">
                        <MudStack Spacing="2" AlignItems="AlignItems.Center">
                            <MudText Typo="Typo.h6">Or scan the QR code below with your mobile device:</MudText>
                            <img class="teacher-qr-code"
                                 src="@_qrCodeDataUri"
                                 alt="QR code for the student login URL" />
                        </MudStack>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        }
    </MudStack>
</RoleGate>
